<div id="logonContainer">
  <div id="logonSquare">
    <img src="assets/img/logo.png" id="logonLogo" alt="Logo do app" />
    <div id="logonForms">
      <form id="logonForm">
        <div class="logonFormLine">
          <div class="logonFormField">
            <input
              type="email"
              class="logonInput bigField"
              name="email"
              #email
              [(ngModel)]="loginData.email"
              placeholder=""
              (blur)="
                formErrorService.validateEmail(formErrors, email.value, 'email')
              "
            />
            <label class="longonLabel">Email </label>

            <ng-container *ngIf="formErrors['email'].active">
              <app-form-error [errorText]="formErrors['email'].errorText">
              </app-form-error>
            </ng-container>
          </div>
          <div class="logonFormField bigField">
            <input
              type="password"
              class="logonInput bigField"
              placeholder=""
              name="password"
              #password
              [(ngModel)]="loginData.password"
              (blur)="
                formErrorService.validatePassword(
                  formErrors,
                  password.value,
                  'password'
                )
              "
            />
            <label class="longonLabel">Senha </label>
            <img
              id="seePasswordIcon"
              #seePasswordIcon
              src="assets/icons/seeIcon.svg"
              alt="Icone de um olho"
              title="Mostrar senha"
              (click)="formsUtils.changeInputType(password)"
            />
            <ng-container *ngIf="formErrors['password'].active">
              <app-form-error [errorText]="formErrors['password'].errorText">
              </app-form-error>
            </ng-container>
          </div>
        </div>
        <div class="logonFormField">
          <div class="logonFormLine">
            <button type="button" class="logonButton" (click)="login()">
              Login
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- <ng-container *ngIf="termsSign">
  <app-terms-sign
    [roleId]="2"
    (cancelEmitter)="termsSign = false"
    (continueEmmitter)="subscribe($event)"
  ></app-terms-sign>
</ng-container> -->
