#logonContainer {
  width: 50vw;
  height: 95vh;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logonSquare {
  width: 50vw;
  min-width: 320px;
  height: fit-content;
  padding: 25px;
  background-color: var(--gray);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  gap: 40px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#logonLogo {
  width: 95px;
}

#logonForm {
  width: 45vw;
  min-width: 232px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.longonLabel {
  width: fit-content;
  position: absolute;
  /* left: 10px;
  bottom: 38px; */
  padding: 0 4px;
  border-radius: 5px;
  translate: 10px 9px;

  color: white;
  background-color: var(--gray);
  transition: all 0.2s ease;
  pointer-events: none;

  font-family: var(--fontMont);
  font-size: 16px;
}

.logonInput {
  padding: 5px 3px 1px 15px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.2s ease;
  font-family: var(--fontAnek);
  outline: none;
  transition: 0.5s ease all;
}

.logonSelect {
  padding: 5px 3px 1px 15px;
  background-color: transparent;
  border: 2px solid var(--darkGreen);
  color: white;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.2s ease;
  font-family: var(--fontAnek);
  outline: none;
}

.logonInput:focus + .longonLabel,
.logonInput:not(:placeholder-shown) + .longonLabel,
.logonInput:-webkit-autofill + .longonLabel,
.logonSelect:focus + .longonLabel,
.logonSelect:not(:placeholder-shown) + .longonLabel,
.logonSelect:-webkit-autofill + .longonLabel {
  translate: 10px -9px;
  font-size: 13px;
}

.logonFormLine {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  flex-wrap: wrap;
}

.logonFormField {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.logonButton {
  min-width: 60px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(-45deg, black, transparent);
  color: white;
  font-family: var(--fontAnek);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.1s ease-in-out all;
}

.logonButton:hover {
  box-shadow: 2px 2px 2px var(--darkBlack);
  transform: translate(-1px, -1px);
}

#seePasswordIcon {
  width: 27px;
  position: absolute;
  translate: 195px 4px;
  transition: 0.1s ease all;
}

#seePasswordIcon:hover {
  cursor: pointer;
  scale: 1.1;
}
