.oneContentContainer {
  position: absolute;
  border: 1px var(--darkBlack) solid;

  font-family: var(--fontAnek);

  border-radius: 20px;
  animation: expand 0.8s forwards ease-out;
}
.oneContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes expand {
  from {
    max-width: 0;
    max-height: 0;
    overflow: hidden;
  }

  to {
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
  }
}

@keyframes implod {
  from {
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
  }

  to {
    max-width: 0;
    max-height: 0;
    overflow: hidden;
  }
}

.formLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;
}
