#sideBar {
  width: calc(15vw - 20px);
  height: 84vh;
  background-color: var(--gray);
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  padding: 20px 20px 20px 5px;
}

.sideMenuItem {
  padding: 5px 5px;
  border-radius: 5px;

  list-style: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.sideMenuItem a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.sideMenuItem:hover {
  background-color: var(--softHover);
}

.sideMenuIcon {
  width: 25px;
}

.sideMenuText {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 11px;
  font-weight: 300;
  margin-left: 10px;
  color: #ffffff;
}
