.gridHeader {
  padding-left: 30px;
  display: flex;
  gap: 10px;
  /* background-color: var(--green); */
}

.gridHeader * {
  padding: 5px;
  font-family: var(--fontAnek);
  font-weight: normal;

  color: var(--lightGray);
  font-size: 14px;

  text-align: left;
}

#addIcon {
  width: 35px;
  transition: 0.1s ease-in-out all;
}

#addIcon:hover {
  translate: -1px -1px;
}

#addIcon:active {
  scale: 1.1;
}

.miniHeader {
  width: 56px;
}

.tinyHeader {
  width: 100px;
}

.smallHeader {
  width: 144px;
}

.mediumHeader {
  width: 188px;
}

.bigHeader {
  width: 232px;
}

.largeHeader {
  width: 276px;
}

.hugeHeader {
  width: 320px;
}
