<div *ngIf="showAlert">
  <app-modal>
    <div
      id="alertsContainer"
      [ngStyle]="{ border: alertTypes[alertType].color + ' solid 2px' }"
    >
      <div>
        <h1>{{ title }}</h1>
      </div>
      <div>
        <ng-container *ngFor="let paragraph of text"
          ><p>{{ paragraph }}</p></ng-container
        >
      </div>
    </div>
    <div class="modalsButtons">
      <button *ngIf="alertTypes[alertType].ok" (click)="hideAlerts()">
        Ok
      </button>
    </div>
  </app-modal>
</div>
