#dialogContainer {
	min-width: 320px;
  padding: 10px;
  border-radius: 10px;
  font-family: var(--fontAnek);
}

#dialogButtons {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

#dialogButtons button {
  min-width: 60px;
  padding: 10px;
  border: none;
  border-radius: 10px;

  background-color: var(--green);
  color: white;

  font-family: var(--fontAnek);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

#dialogButtons button:hover {
  background-color: var(--darkGreen);
}

#dialogButtons button:active {
  background-color: var(--orange);
}
