<header>
  <img id="logoTop" src="assets/img/logo.png" alt="Logo da werper" />

  <nav>
    <ul>
      <li class="menuItem">
        <img
          class="menuIcon"
          src="assets/icons/registerIcon.svg"
          alt="Icone de uma engrenagem"
        />
        <span class="menuText">Cadastros</span>
      </li>
      <li class="menuItem">
        <img
          class="menuIcon"
          src="assets/icons/settingsIcon.svg"
          alt="Icone de uma engrenagem"
        />
        <span class="menuText">Configurações</span>
      </li>
    </ul>
  </nav>
</header>
<div id="userInfo">
  <p>Usuário: {{ user?.name }}</p>
</div>

<div id="content">
  <ng-content></ng-content>
</div>

<!-- <footer>
  <img id="logoBottom" src="assets/img/logoWhite.png" alt="" />
  <div>Werpersite</div>
</footer> -->
