input,
textarea {
  padding: 5px;
  font-family: var(--fontAnek);
  font-weight: 400;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 14px;

  border-radius: 5px;

  cursor: default;
  transition: 0.2s ease-in-out all;
  align-self: center;
  color: white;
}

input:hover,
textarea:hover {
  background-color: var(--lightGray);
  color: white;
}

.updateForm input[type="text"]:focus,
.updateForm textarea:focus {
  background-color: var(--gray);
  border-top: 3px var(--darkBlack) solid;
  border-left: 3px var(--darkBlack) solid;
  border-bottom: 3px var(--lightGray) solid;
  border-right: 3px var(--lightGray) solid;
  color: var(--lightGray);
  cursor: text;
}
