<app-modal>
	<form action="">
		<label class="createLabel" for="subscriptionTitle">Título da Subscrição:  </label>
		<input class="mediumField" type="text" class="createInput" name="subscriptionTitle" id="subscriptionTitle">
		<div class="modalsButtons">
      <button
       
        (click)="cancelEmitter.emit()"
      >
        Cancelar</button
      ><button
        
        (click)="showDialog()"
      >
        Criar registro
      </button>
    </div>
	</form>
	<app-dialog (cancelEmitter)="hideDialog()" (confirmEmitter)="confirmEmitter.emit()"></app-dialog>
</app-modal>

