#formTitle {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: var(--fontAnek);
  font-size: 24px;
  font-weight: bold;
  color: white;
}

#createForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
