<app-modal>
  <div id="formTitle">
    <h1>{{ title }}</h1>
    <p>createData: {{ createData }}</p>
  </div>
  <form id="createForm">
    <ng-content></ng-content>

    <div class="modalsButtons">
      <button type="button" (click)="cancelEmitter.emit()">Cancelar</button
      ><button type="button" (click)="createFormValidateAndShowDialog()">
        Criar registro
      </button>
    </div>
  </form>
  <ng-container *ngIf="dialog">
    <app-dialog
      [dialogType]="'create'"
      [text]="createMessages"
      [title]="'Criar registro'"
      (cancelEmitter)="dialog = false"
      (confirmEmitter)="confirmEmitter.emit()"
    ></app-dialog>
  </ng-container>
</app-modal>
