.updateLabel {
  padding: 5px;
  font-family: var(--fontAnek);
  font-weight: normal;
  color: var(--lightGray);
  font-size: 14px;
}

.updateLabelText {
  text-align: left;
}

.updateLabelCheckBox {
  display: flex;
  padding: 0 5px;
}

input[type="text"],
input[type="date"],
input[type="number"] {
  outline: none;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: var(--gray);
  color: white;
  font-family: var(--fontAnek);
  font-size: 14px;
  /* transition: 0.2s ease-in-out all; */

  background: linear-gradient(
    -245deg,
    transparent 0%,
    var(--lightGray) 10%,
    transparent 20%
  );
  background-position: 150% 0%;
  background-size: 200% 100%;
  background-repeat: no-repeat;
  transition: all 0.3s linear;
}

input[type="text"]:not(:focus):hover,
input[type="date"]:not(:focus):hover,
input[type="number"]:not(:focus):hover {
  /* animation: reflex 0.5s forwards; */
  box-shadow: var(--lightGray) 0px 0px 10px;

  color: var(--lightGray);
  background-position: -150% 0%;
}

/* @keyframes reflex {
  0% {
    background-position: 200% 0%;
  }
  100% {
    background-position: -200% 0%;
  }
} */

/* quero que no focus ele diminua 6 px no heiht */
input[type="text"]:focus,
input[type="date"]:focus,
input[type="number"]:focus {
  background-color: var(--darkBlack);
  box-shadow: var(--darkBlack) 0px 0px 10px;
  color: white;
  cursor: text;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + .customCheckbox::before {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 5px;
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  vertical-align: middle;
  background-color: var(--darkBlack);
}

input[type="checkbox"]:checked + .customCheckbox::before {
  background-color: var(--darkBlack);
  content: "\2713";
  text-align: center;
  color: var(--lightGreen);
  text-shadow: 0 0 0.2em var(--lightGreen);
  box-shadow: 0 0 0.5em var(--gray);
  line-height: 12px;
}
