<div class="updateOneFormItem">
  <ng-container *ngIf="inputType === 'text'">
    <ng-container *ngIf="label">
      <label class="updateLabelText updateLabel" [for]="inputName"
        >{{ label }}
      </label>
    </ng-container>

    <input
      #textInput
      [ngClass]="inputClass"
      type="text"
      [name]="inputName"
      [id]="inputName"
      [(ngModel)]="value"
      (input)="inputEmitter.emit(textInput.value)"
      (blur)="blurEmitter.emit()"
      [disabled]="disabled"
    />
    <div class="inputContainer"></div>
  </ng-container>

  <ng-container *ngIf="inputType === 'date'">
    <ng-container *ngIf="label">
      <label class="updateLabelText updateLabel" [for]="inputName"
        >{{ label }}
      </label>
    </ng-container>
    <input
      #dateInput
      [ngClass]="inputClass"
      type="date"
      [name]="inputName"
      [id]="inputName"
      [value]="value | timeStamps"
      (input)="inputEmitter.emit(dateInput.value)"
      (blur)="blurEmitter.emit()"
      [disabled]="disabled"
    />
  </ng-container>

  <ng-container *ngIf="inputType === 'number'">
    <ng-container *ngIf="label">
      <label class="updateLabelText updateLabel" [for]="inputName"
        >{{ label }}
      </label>
    </ng-container>
    <input
      #numberInput
      [ngClass]="inputClass"
      type="number"
      [name]="inputName"
      [id]="inputName"
      [value]="numberValue"
      (input)="inputEmitter.emit(numberInput.value)"
      (blur)="blurEmitter.emit()"
      [disabled]="disabled"
    />
  </ng-container>

  <ng-container *ngIf="inputType === 'money'">
    <ng-container *ngIf="label">
      <label class="updateLabelText updateLabel" [for]="inputName"
        >{{ label }}
      </label>
    </ng-container>
    <input
      #moneyInput
      [ngClass]="inputClass"
      type="text"
      [name]="inputName"
      [id]="inputName"
      [value]="numberValue | money"
      (input)="inputEmitter.emit(moneyInput.value)"
      (blur)="blurEmitter.emit()"
      [disabled]="disabled"
    />
  </ng-container>

  <ng-container *ngIf="inputType === 'checkbox'">
    <label class="updateLabel updateLabelCheckBox" [for]="inputName"
      >{{ label }}

      <input
        [ngClass]="inputClass"
        type="checkbox"
        [name]="inputName"
        [id]="inputName"
        [(ngModel)]="booleanValue"
        #checkteste
        (change)="inputBooleanEmitter.emit(booleanValue)"
        (blur)="blurEmitter.emit()"
      />
      <span class="customCheckbox"></span>
    </label>
  </ng-container>

  <ng-container *ngIf="formError.active[idx]">
    <app-form-error [errorText]="formError.errorText"> </app-form-error>
  </ng-container>
</div>
