<div id="logonContainer">
  <div id="logonSquare">
    <img src="assets/img/logo.png" id="logonLogo" alt="Logo do app" />
    <div id="logonForms">
      <ng-container *ngIf="step === 1">
        <form id="logonForm">
          <div class="logonFormLine">
            <div class="logonFormField bigField">
              <input
                type="text"
                name="logonName"
                class="logonInput bigField"
                placeholder=""
                #logonName
                [(ngModel)]="createSignerUserData.name"
                (blur)="
                  formErrorService.validateNames(
                    form1Errors,
                    logonName.value,
                    'name',
                    0
                  )
                "
              />
              <label class="longonLabel" for="logonName">Nome</label>
              <ng-container *ngIf="form1Errors['name'].active[0]">
                <app-form-error
                  [errorText]="form1Errors['name'].errorText"
                ></app-form-error>
              </ng-container>
            </div>
            <div class="logonFormField bigField">
              <input
                type="text"
                name="logonSurname"
                class="logonInput bigField"
                placeholder=""
                #logonSurname
                [(ngModel)]="createSignerUserData.surname"
                (blur)="
                  formErrorService.validateNames(
                    form1Errors,
                    logonSurname.value,
                    'surname',
                    0
                  )
                "
              />
              <label class="longonLabel" for="logonSurname">Sobrenome </label>
              <ng-container *ngIf="form1Errors['surname'].active[0]">
                <app-form-error
                  [errorText]="form1Errors['surname'].errorText"
                ></app-form-error>
              </ng-container>
            </div>
          </div>
          <div class="logonFormLine">
            <div class="logonFormField">
              <input
                type="text"
                class="logonInput bigField"
                placeholder=""
                name="cpf"
                #cpf
                [(ngModel)]="createSignerUserData.cpf"
                (input)="maskCpf()"
                (blur)="
                  formErrorService.validateCpf(form1Errors, cpf.value, 'cpf', 0)
                "
              />
              <label class="longonLabel">CPF </label>
              <ng-container *ngIf="form1Errors['cpf'].active[0]">
                <app-form-error
                  [errorText]="form1Errors['cpf'].errorText"
                ></app-form-error>
              </ng-container>
            </div>
            <div class="logonFormField">
              <input
                type="text"
                class="logonInput bigField"
                placeholder=""
                name="cellphone"
                #cellphone
                [(ngModel)]="createSignerUserData.cellphone"
                (input)="maskPhone()"
                (blur)="
                  formErrorService.validateCellPhone(
                    form1Errors,
                    cellphone.value,
                    'cellphone',
                    0
                  )
                "
              />
              <label class="longonLabel">Telefone </label>
              <ng-container *ngIf="form1Errors['cellphone'].active[0]">
                <app-form-error
                  [errorText]="form1Errors['cellphone'].errorText"
                ></app-form-error>
              </ng-container>
            </div>
          </div>
          <div class="logonFormLine">
            <div class="logonFormField">
              <input
                type="email"
                class="logonInput bigField"
                placeholder=""
                #email
                [(ngModel)]="createSignerUserData.email"
                name="email"
                (blur)="
                  formErrorService.validateEmail(
                    form1Errors,
                    email.value,
                    'email',
                    0
                  )
                "
              />
              <label class="longonLabel">Email </label>
              <ng-container *ngIf="form1Errors['email'].active[0]">
                <app-form-error
                  [errorText]="form1Errors['email'].errorText"
                ></app-form-error>
              </ng-container>
            </div>
            <div class="logonFormField">
              <input
                type="email"
                class="logonInput bigField"
                placeholder=""
                name="confirmEmail"
                #confirmEmailInput
                [(ngModel)]="confirmEmail"
                (blur)="
                  formErrorService.validateIsEqual(
                    form1Errors,
                    email.value,
                    confirmEmailInput.value,
                    'emailConfirm',
                    0
                  )
                "
              />
              <label class="longonLabel">Confirmar Email </label>
              <ng-container *ngIf="form1Errors['emailConfirm'].active[0]">
                <app-form-error
                  [errorText]="form1Errors['emailConfirm'].errorText"
                ></app-form-error>
              </ng-container>
            </div>
          </div>
          <div class="logonFormLine">
            <div class="logonFormField bigField">
              <input
                type="password"
                class="logonInput bigField"
                placeholder=""
                name="password"
                #password
                [(ngModel)]="createSignerUserData.password"
                (blur)="
                  formErrorService.validatePassword(
                    form1Errors,
                    password.value,
                    'password',
                    0
                  )
                "
              />
              <label class="longonLabel">Senha </label>
              <img
                id="seePasswordIcon"
                #seePasswordIcon
                src="assets/icons/seeIcon.svg"
                alt="Icone de um olho"
                title="Mostrar senha"
                (click)="formsUtils.changeInputType(password)"
              />
              <ng-container *ngIf="form1Errors['password'].active[0]">
                <app-form-error
                  [errorText]="form1Errors['password'].errorText"
                ></app-form-error>
              </ng-container>
            </div>
            <div class="logonFormField">
              <input
                type="password"
                class="logonInput bigField"
                placeholder=""
                name="confirmPassword"
                #confirmPasswordInput
                [(ngModel)]="confirmPassword"
                (blur)="
                  formErrorService.validateIsEqual(
                    form1Errors,
                    password.value,
                    confirmPasswordInput.value,
                    'passwordConfirm',
                    0
                  )
                "
              />
              <label class="longonLabel">Confirmar senha</label>

              <ng-container *ngIf="form1Errors['passwordConfirm'].active[0]">
                <app-form-error
                  [errorText]="form1Errors['passwordConfirm'].errorText"
                ></app-form-error>
              </ng-container>
            </div>
          </div>
          <div class="logonFormField">
            <div class="logonFormLine">
              <button type="button" class="logonButton" (click)="goToStep2()">
                Continuar
              </button>
            </div>
          </div>
        </form>
      </ng-container>
      <ng-container *ngIf="step === 2">
        <form id="logonForm">
          <div class="logonFormLine">
            <div class="logonFormField bigField">
              <input
                type="text"
                name="logonCompanyName"
                class="logonInput largeInput"
                placeholder=""
                #logonCompanyName
                [(ngModel)]="createSignerUserData.companyPerson.name"
                (blur)="
                  formErrorService.validateCompanyName(
                    form2Errors,
                    logonCompanyName.value,
                    'name',
                    0
                  )
                "
              />
              <label class="longonLabel" for="logonCompanyName"
                >Nome da empresa
              </label>
              <ng-container *ngIf="form2Errors['name'].active[0]">
                <app-form-error
                  [errorText]="form2Errors['name'].errorText"
                ></app-form-error>
              </ng-container>
            </div>
            <div class="logonFormField">
              <select
                name="personType"
                id="personType"
                class="logonSelect mediumField"
                #personType
                [(ngModel)]="createSignerUserData.companyPerson.personType"
                (blur)="
                  formErrorService.validatePersonType(
                    form2Errors,
                    personType.value,
                    'personType',
                    0
                  )
                "
              >
                <option value="j">Jurídica</option>
                <option value="f">Física</option>
              </select>
              <label class="longonLabel" for="logonSurname"
                >Tipo de pessoa</label
              >
            </div>
          </div>
          <div class="logonFormLine">
            <button type="button" (click)="step = 1" class="logonButton">
              Voltar
            </button>
            <button type="button" (click)="gotoStep3()" class="logonButton">
              Cadastrar-se
            </button>
          </div>
        </form>
      </ng-container>
    </div>
  </div>
</div>
<ng-container *ngIf="termsSign">
  <app-terms-sign
    [roleId]="2"
    (cancelEmitter)="termsSign = false"
    (continueEmmitter)="subscribe($event)"
  ></app-terms-sign>
</ng-container>
