<app-grid-header
  [headers]="headers"
  (addEmitter)="createForm = true"
></app-grid-header>
<div class="gridItens">
  <ng-container
    *ngFor="let subscription of allUserSubscriptions; let i = index"
  >
    <app-update-form>
      <input
        class="mediumField"
        type="text"
        name="subscription"
        [(ngModel)]="subscription.subscriptionTitle"
      />

      <input
        class="tinyField"
        type="checkbox"
        name="subscriptionActive"
        [(ngModel)]="subscription.subscriptionActive"
      />
      <p class="smallField">{{ subscription.validate | date }}</p>
    </app-update-form>
  </ng-container>
</div>
<ng-container *ngIf="createForm"
  ><app-create-form
    [createMessages]="[
      'uma assinatura só poderá ser apagada um mês após a criação.',
      'Confirmar a criação da assinatura?'
    ]"
    (cancelEmitter)="createForm = false"
    (confirmEmitter)="createSubscription()"
  >
    <label class="createLabel" for="subscriptionTitle"
      >Título da Subscrição:
    </label>
    <input
      class="mediumField"
      type="text"
      class="createInput"
      name="subscriptionTitle"
      id="subscriptionTitle"
      [(ngModel)]="createSubscriptionData.subscriptionTitle"
  /></app-create-form>
</ng-container>
