<app-grid-header
  [headers]="headers"
  (addEmitter)="createForm = true"
></app-grid-header>
<div class="gridItens">
  <ng-container
    *ngFor="let subscription of allUserSubscriptions; let idx = index"
  >
    <app-update-form
      [updateMessages]="['Confirmar as alterações na assinatura?']"
      (editEmitter)="updateSubscription(idx)"
    >
      <input
        class="mediumField"
        type="text"
        name="subscription"
        [(ngModel)]="subscription.subscriptionTitle"
      />

      <input
        class="tinyField"
        type="checkbox"
        name="subscriptionActive"
        [(ngModel)]="subscription.subscriptionActive"
      />
      <p class="smallField">{{ subscription.validate | date }}</p>
    </app-update-form>
  </ng-container>
</div>
<ng-container *ngIf="createForm"
  ><app-create-form
    [createMessages]="[
      'uma assinatura só poderá ser apagada um mês após a criação.',
      'Confirmar a criação da assinatura?'
    ]"
    [title]="'Criar Assinatura'"
    [validateForm]="utils.validateCreateForm"
    [createData]="createSubscriptionData"
    (cancelEmitter)="createForm = false"
    (confirmEmitter)="createSubscription()"
  >
    <div class="formItem">
      <label class="createLabel" for="subscriptionTitle"
        >Título da Subscrição:
      </label>
      <input
        class="mediumField"
        type="text"
        class="createInput"
        name="subscriptionTitle"
        id="subscriptionTitle"
        [(ngModel)]="createSubscriptionData.subscriptionTitle"
        (blur)="
          formErrorService.validateMinMax(
            createFormErrors,
            3,
            100,
            createSubscriptionData.subscriptionTitle,
            'subscriptionTitle'
          )
        "
      />
      <ng-container *ngIf="createFormErrors['subscriptionTitle'].active">
        <app-form-error
          [errorText]="createFormErrors['subscriptionTitle'].errorText"
        >
        </app-form-error>
      </ng-container>
    </div>
  </app-create-form>
</ng-container>
