<app-grid-header
  [headers]="headers"
  (addEmitter)="createForm = true"
></app-grid-header>
<div class="gridItens">
  <ng-container
    *ngFor="let subscription of allUserSubscriptions; let idx = index"
  >
    <app-update-form
      [updateMessages]="['Confirmar as alterações na assinatura?']"
      [validateForm]="utils.validateUpdateForm"
      [updateData]="utils.newUpdateSubscriptionData(subscription)"
      (editEmitter)="updateSubscription(idx)"
    >
      <app-input-form-item
        [value]="subscription.subscriptionTitle"
        [inputClass]="['mediumField']"
        [inputType]="'text'"
        [inputName]="'subscriptionTitle'"
        [idx]="idx"
        (inputEmitter)="subscription.subscriptionTitle = $event"
        (blurEmitter)="
          formErrorService.validateMinMax(
            updateFormErrors,
            3,
            100,
            subscription.subscriptionTitle,
            'subscriptionTitle',
            idx
          )
        "
        [formError]="updateFormErrors['subscriptionTitle']"
      ></app-input-form-item>

      <input
        class="tinyField"
        type="checkbox"
        name="subscriptionActive"
        [(ngModel)]="subscription.subscriptionActive"
      />
      <p class="smallField">{{ subscription.validate | date }}</p>
    </app-update-form>
  </ng-container>
</div>
<ng-container *ngIf="createForm">
  <app-subscriptions-create-form
    (cancelEmitter)="createForm = false"
    (createEmitter)="allUserSubscriptions.push($event)"
  >
  </app-subscriptions-create-form>
</ng-container>
