.gridHeader {
  padding-left: 30px;
  display: flex;
  gap: 10px;
  background-color: var(--green);
}

.gridHeader * {
  padding: 5px;
  font-family: var(--fontAnek);
  font-weight: bold;

  color: white;

  text-align: center;
}

.tinyHeader {
  width: 5vw;
}

.smallHeader {
  width: 10vw;
}

.mediumHeader {
  width: 20vw;
}

.bigHeader {
  width: 30vw;
}

.largeHeader {
  width: 40vw;
}

.hugeHeader {
  width: 50vw;
}

.gridItens > div {
  border-bottom: 1px solid var(--darkPlace);
}

.gridItens > div:last-child {
  border: none;
}
