<p>Todos os tipos de termos</p>
<div class="gridHeader">
  <p class="mediumHeader">Nome</p>
  <p class="largeHeader">Descrição</p>
</div>
<div class="gridItens">
  <div>
    <app-update-form>
      <input class="mediumInput" type="text" value="Termo de privacidade" />
      <input
        class="largeInput"
        type="text"
        value="Termos que contém todas as políticas de privacidade do Werper"
      />
    </app-update-form>
  </div>
  <div>
    <app-update-form>
      <input class="mediumInput" type="text" value="Termo de privacidade" />
      <input
        class="largeInput"
        type="text"
        value="Termos que contém todas as políticas de privacidade do Werper"
      />
    </app-update-form>
  </div>
</div>
