@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,400;0,500;0,700;1,100;1,200;1,900&display=swap");

:root {
  --orange: #f67c19;
  --softHover: #8ec2f038;
  --softOrange: #d5b69dfc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

html {
  background-color: #292c28;
}
