@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,400;0,500;0,700;1,100;1,200;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Anek+Gujarati:wght@100;200;300;400;700&display=swap");

:root {
  --darkGreen: #292c28;
  --green: #2f432b;
  --orange: #f67c19;
  --softHover: #8ec2f038;
  --softOrange: #d5b69dfc;
  --fontMont: "Montserrat Alternates", sans-serif;
  --fontAnek: "Anek Gujarati", sans-serif;
  --darkPlace: #9f8975;
  --lightPlace: #f8d5b7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--darkGreen);
}

p {
  align-self: center;
}

textarea {
  font-family: var(--fontAnek);
  font-weight: 400;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 17px;
}

.hidden {
  display: none;
}

.updateForm input,
.updateForm textarea {
  padding: 5px;
  font-family: var(--fontAnek);
  font-weight: 400;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 17px;

  border-radius: 5px;

  cursor: default;
  transition: 0.2s ease-in-out all;
  align-self: center;
}

.updateForm input:hover,
.updateForm textarea:hover {
  background-color: var(--softHover);
  background-color: var(--darkGreen);
  color: white;
}

.updateForm input[type="text"]:focus,
.updateForm textarea:focus {
  background-color: var(--softHover);
  color: var(--darkGreen);
  cursor: text;
}

.tinyField {
  width: 100px;
}

.smallField {
  width: 144px;
}

.mediumField {
  width: 188px;
}

.bigField {
  width: 232px;
}

.largeField {
  width: 276px;
}

.hugeField {
  width: 320px;
}

.gridItens > div {
  border-bottom: 1px solid var(--darkPlace);
}

.gridItens > div:last-child {
  border: none;
}

.modalsButtons {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

.modalsButtons button {
  min-width: 60px;
  padding: 10px;
  border: none;
  border-radius: 10px;

  background-color: var(--green);
  color: white;

  font-family: var(--fontAnek);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.modalsButtons button:hover {
  background-color: var(--darkGreen);
}

.modalsButtons button:active {
  background-color: var(--orange);
}