@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,400;0,500;0,700;1,100;1,200;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Anek+Gujarati:wght@100;200;300;400;700&display=swap");

:root {
  --darkGreen: #292c28;
  --green: #2f432b;
  --orange: #f67c19;
  --softHover: #8ec2f038;
  --softOrange: #d5b69dfc;
  --fontMont: "Montserrat Alternates", sans-serif;
  --fontAnek: "Anek Gujarati", sans-serif;
  --darkPlace: #9f8975;
  --lightPlace: #f8d5b7;

  --darkBlack: #12161e;
  --gray: #272d35;
  --lightGray: #a9abae;
  --lightGreen: #4bab3c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* background-color: var(--darkBlack); */
  background-image: url("./assets/img/backHome.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: var(--orange);
}

h1 {
  font-weight: normal;
  letter-spacing: 1px;
  font-size: 24px;
}

h2 {
  font-weight: normal;
  letter-spacing: 1px;
  font-size: 21px;
}

p {
  align-self: center;
  font-family: var(--fontAnek);
  font-weight: normal;
  font-size: 14px;
  padding: 5px;
}

textarea {
  font-family: var(--fontAnek);
  font-weight: 400;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 17px;
}

.hidden {
  display: none;
}

.checkboxLabel {
  display: flex;
  padding: 0 5px;
}

.checkboxLabel input[type="checkbox"] {
  display: none;
}

.checkboxLabel input[type="checkbox"] + .customCheckbox::before {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 5px;
  display: inline-block;
  margin-right: 5px;
  vertical-align: -webkit-baseline-middle;
  background-color: var(--darkBlack);
}

.checkboxLabel input[type="checkbox"]:checked + .customCheckbox::before {
  background-color: var(--darkBlack);
  content: "\2713";
  text-align: center;

  color: var(--lightGreen);
  text-shadow: 0 0 0.2em var(--lightGreen);
  box-shadow: 0 0 0.5em var(--gray);

  line-height: 7px;
}

.miniField {
  width: 56px;
}

.tinyField {
  width: 100px;
}

.smallField {
  width: 144px;
}

.mediumField {
  width: 188px;
}

.bigField {
  width: 232px;
}

.largeField {
  width: 276px;
}

.hugeField {
  width: 320px;
}

.gridItens form:hover {
  box-shadow: inset 0 0 10px var(--darkBlack);
  border-radius: 5px;
}

.modalsButtons {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

.modalsButtons button {
  min-width: 60px;
  padding: 10px;
  border: none;
  border-radius: 10px;

  background: linear-gradient(-45deg, black, transparent);
  color: white;

  font-family: var(--fontAnek);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.1s ease-in-out transform;
}

.modalsButtons button:hover {
  box-shadow: 2px 2px 2px var(--darkBlack);
  transform: translate(-1px, -1px);
}

.modalsButtons button:active {
  background: linear-gradient(-45deg, transparent, white);
  color: var(--darkBlack);

  box-shadow: none;
}

.createLabel {
  width: fit-content;

  padding: 0 4px;
  border-radius: 5px;
  translate: 10px 9px;

  color: white;
  background-color: var(--gray);
  transition: all 0.2s ease;
  pointer-events: none;

  font-family: var(--fontMont);

  font-size: 16px;
}

.createInput {
  padding: 5px 3px 1px 15px;
  border-top: 3px var(--darkBlack) solid;
  border-left: 3px var(--darkBlack) solid;
  border-bottom: 3px var(--lightGray) solid;
  border-right: 3px var(--lightGray) solid;
  background-color: var(--gray);
  color: white;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.2s ease;
  font-family: var(--fontAnek);
  outline: none;
  transition: 0.5s ease all;
}

.oneItemSection {
  margin-top: 30px;
  border-top: var(--darkBlack) 1px solid;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
