<app-create-form
  [createMessages]="[
    'uma assinatura só poderá ser apagada um mês após a criação.',
    'Confirmar a criação da assinatura?'
  ]"
  [title]="'Criar Assinatura'"
  [validateForm]="utils.validateCreateForm"
  [createData]="createSubscriptionData"
  (cancelEmitter)="cancelEmitter.emit()"
  (confirmEmitter)="createSubscription()"
>
  <app-input-form-item
    [label]="'Título da Subscrição'"
    [inputClass]="['mediumField', 'createInput']"
    [inputType]="'text'"
    [inputName]="'subscriptionTitle'"
    (inputEmitter)="createSubscriptionData.subscriptionTitle = $event"
    [formError]="createFormErrors['subscriptionTitle']"
    (blurEmitter)="
      formErrorService.validateMinMax(
        createFormErrors,
        3,
        100,
        createSubscriptionData.subscriptionTitle,
        'subscriptionTitle',
        0
      )
    "
  ></app-input-form-item>
</app-create-form>
